[Desktop Entry]
Icon=application-vnd.google-apps.presentation
Name=fig_poise_setup
Type=Link
URL=https://docs.google.com/presentation/d/1UmU3GiN_nk9-dSFGeeWGlU6JoerKDeUuTU_WKf-FaQw/edit?usp=drivesdk
